@model IEnumerable<Ebuy.Models.BoughtItem>

@{
    ViewBag.Title = "Index";
}

<h2 class="itemHeader">History</h2>


<table id="itemtable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item.Price)
        </th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Price)
                </td>
            </tr>
        }
    }



</table>
